* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #a57556;
  text-decoration: none;
}

.logo {
  margin: 0 auto;
  padding-bottom: 1.1em;
  max-width: 350px;
}

.main {
  font-size: 1.17em;
  font-weight: bold;
}

.center {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
}
