* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #A27531;
    text-decoration: none;
}

.title {
    margin-bottom: 24px;
    font-size: 35px;
}

.title::before {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 0px 9px -5px 0px;
    content: "";
    background: url(dog.png) no-repeat 100%/100%;
}

.main {
    font-size: 1.17em;
}

#pos-center {
    left: 50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
}
